In [1]:
import numpy as pn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

/home/sunbeam/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [2]:
df = pd.read_csv('claimants.csv')

### EDA

In [3]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [4]:
df.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.079674  0.079439 -0.057189  0.010680 -0.219715
CLMSEX    0.079674  1.000000  0.066413 -0.015024 -0.023195 -0.027611
CLMINSUR  0.079439  0.066413  1.000000  0.021154  0.049493  0.005821
SEATBELT -0.057189 -0.015024  0.021154  1.000000 -0.027992  0.111189
CLMAGE    0.010680 -0.023195  0.049493 -0.027992  1.000000  0.064612
LOSS     -0.219715 -0.027611  0.005821  0.111189  0.064612  1.000000

### split data into x and y

In [5]:
x = df[['CLMSEX','CLMINSUR','SEATBELT','CLMAGE']]
y = df['ATTORNEY']

### split data into train and test

In [51]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,train_size=0.75,random_state=123456)

### create model

In [57]:
def create_dt():
    from sklearn.tree import DecisionTreeClassifier

    model = DecisionTreeClassifier(max_depth=6,max_features=3,random_state=123456)
    model.fit(x_train, y_train)
    return model

In [58]:
def create_rm():
    from sklearn.ensemble import RandomForestClassifier

    model = RandomForestClassifier()
    model.fit(x_train, y_train)
    return model

In [59]:
models = [(create_dt(),'Descision Tree'),(create_rm(),'Random Forest')]

### eveluate model

In [60]:
from sklearn.metrics import  accuracy_score, precision_score, recall_score, f1_score
def evaluate_model(model_1, model_name):
    y_pred = model_1.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)

    precision = precision_score(y_true, y_pred)

    recall = recall_score(y_true, y_pred)

    f1 = f1_score(y_true, y_pred)
 
    return model_name, accuracy, precision, recall, f1

In [61]:
evaluate_rows = []
for (model_1, model_name) in models:
    evaluate_rows.append(evaluate_model(model_1, model_name))
    
df_result = pd.DataFrame(evaluate_rows, columns=['Algorithm','Accuracy','Precision','Recall','f1'])
df_result

        Algorithm  Accuracy  Precision    Recall        f1
0  Descision Tree  0.555224   0.512953  0.642857  0.570605
1   Random Forest  0.564179   0.521053  0.642857  0.575581