In [1]:
import numpy as pn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

/home/sunbeam/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [2]:
df = pd.read_csv('glass.csv')

### EDA

In [3]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
df.corr()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
RI,1.000000,-0.191885,-0.122274,-0.407326,-0.542052,-0.289833,0.810403,-0.000386,0.143010,-0.164237
Na,-0.191885,1.000000,-0.273732,0.156794,-0.069809,-0.266087,-0.275442,0.326603,-0.241346,0.502898
Mg,-0.122274,-0.273732,1.000000,-0.481799,-0.165927,0.005396,-0.443750,-0.492262,0.083060,-0.744993
Al,-0.407326,0.156794,-0.481799,1.000000,-0.005524,0.325958,-0.259592,0.479404,-0.074402,0.598829
Si,-0.542052,-0.069809,-0.165927,-0.005524,1.000000,-0.193331,-0.208732,-0.102151,-0.094201,0.151565
K,-0.289833,-0.266087,0.005396,0.325958,-0.193331,1.000000,-0.317836,-0.042618,-0.007719,-0.010054
Ca,0.810403,-0.275442,-0.443750,-0.259592,-0.208732,-0.317836,1.000000,-0.112841,0.124968,0.000952
Ba,-0.000386,0.326603,-0.492262,0.479404,-0.102151,-0.042618,-0.112841,1.000000,-0.058692,0.575161
Fe,0.143010,-0.241346,0.083060,-0.074402,-0.094201,-0.007719,0.124968,-0.058692,1.000000,-0.188278
Type,-0.164237,0.502898,-0.744993,0.598829,0.151565,-0.010054,0.000952,0.575161,-0.188278,1.000000

### split data into x and y

In [5]:
x = df[['RI','Na','Mg','Al','Si','Ba','Fe']]
y = df['Type']

### split data into train and test

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=123456)

### create model

In [7]:
def create_dt():
    from sklearn.tree import DecisionTreeClassifier

    model = DecisionTreeClassifier(max_depth=3)
    model.fit(x_train, y_train)
    return model

In [8]:
def create_rm():
    from sklearn.ensemble import RandomForestClassifier

    model = RandomForestClassifier()
    model.fit(x_train, y_train)
    return model

In [9]:
models = [(create_dt(),'Descision Tree'),(create_rm(),'Random Forest')]

### eveluate model

In [12]:
from sklearn.metrics import  accuracy_score, precision_score, recall_score, f1_score
def evaluate_model(model_1, model_name):
    y_pred = model_1.predict(x_test)
    y_true = y_test

    accuracy = accuracy_score(y_true, y_pred)

    precision = precision_score(y_true, y_pred, average='macro')

    recall = recall_score(y_true, y_pred, average='macro')

    f1 = f1_score(y_true, y_pred, average='macro')
 
    return model_name, accuracy, precision, recall, f1

In [13]:
evaluate_rows = []
for (model_1, model_name) in models:
    evaluate_rows.append(evaluate_model(model_1, model_name))
    
df_result = pd.DataFrame(evaluate_rows, columns=['Algorithm','Accuracy','Precision','Recall','f1'])
df_result

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

        Algorithm  Accuracy  Precision    Recall        f1
0  Descision Tree  0.611111   0.463287  0.529090  0.459509
1   Random Forest  0.740741   0.841258  0.734061  0.734874